@*@model test.Models.Employee*@
@model test.ViewModels.EmployeesListViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul>
    @foreach (var employee in Model.employees)
    {
    <li>
        @employee.name
    </li>
    }
</ul>
