@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>AUGUSTA HITECH</h1>
    <p class="lead">Science and Technology company powered by Innovation.</p>
    <p><a href="https://augustahitech.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ENTERPRISE BLOCKCHAIN SOLUTIONS</h2>
        <p>
            Augusta Hitech Blockchain Lab developers deliver enterprise-grade blockchain solutions, 
            consulting, and custom blockchain development services. Our blockchain experts will help
            you bring a high level of security and mobility to your enterprise by integrating 
            the latest distributed ledger technologies, identity solutions, and smart contracts.
        </p>
        <p><a class="btn btn-default" href="https://augustahitech.com/services/enterprise-blockchain-solutions.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            AI NATURAL CONVERSATION
        </h2>
        <p>we engineer innovative products to solve line of business friction points.</p>
        <p><a class="btn btn-default" href="https://augustahitech.com/products/ai-natural-conversation.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DATA AND ANALYTICS SERVICES</h2>
        <p>Creating a collaborative data approach to help everybody make more effective decisions.</p>
        <p><a class="btn btn-default" href="https://augustahitech.com/services/data-and-analytics-services.html">Learn more &raquo;</a></p>
    </div>
</div>